# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Dev Container
# =========================
.devcontainer/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Python Cache
# =========================
.pytest_cache/
.mypy_cache/
.cache/

# =========================
# Training Artifacts
# =========================
runs/

# =========================
# Temporary Images
# =========================
processed.jpg
temp_cell.jpg
cc.jpg
tt.jpg
Test.png

# =========================
# Backup Files/Folders
# =========================
backup/
backup_old/

# =========================
# Large Videos
# =========================
*.mp4
*.avi
*.mov

# =========================
# Environment Variables
# =========================
.env

# =========================
# Model Checkpoints
# =========================
last.pt

# =========================
# Datasets
# =========================
braille_dataset/
Braille Alphabet Image Dataset(A-Z)/

# =========================
# Git Internal Files
# =========================
.git/

# =========================
# Keep Important Files
# =========================
!best.pt
!README.md
!requirements.txt
!BrailleVision_AI.py